**/*.DS_STORE
**/*node_modules
**/*.env

# Frontend
frontend/src/tmp

# Server-Python
server-python/tmp
server-python/temp
server-python/env
server-python/**/*__pycache__
server-python/**/*.pytest_cache

# Server
server/node_modules
server/dist


# NLP Ingredients
nlp-ingredients/data
nlp-ingredients/env
nlp-ingredients/**/*__pycache__
nlp-ingredients/**/*.pytest_cache