**/*.DS_STORE
**/*node_modules
**/*.env
firebase-credentials.json

# Frontend
frontend/src/tmp

# Server
server/env
server/**/*.vscode
server/**/*__pycache__
server/**/*.pytest_cache


# NLP Ingredients
nlp-ingredients/data
nlp-ingredients/env
nlp-ingredients/**/*__pycache__
nlp-ingredients/**/*.pytest_cache