.Image {
  display: block;
  position: relative;
  overflow: hidden;

  .aspectRatio {
    // Provides a 3:4 aspect ratio
    width: 100%;
    position: absolute;
    padding-top: calc(100% * 3/4);
  }
}

.Image_img {
  width: 100%;
  // max-width: 100%;
  height: auto;
  background-position: center center;
  background-size: cover;
}
